// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace BucketsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BucketsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BucketsClient.Options>;

    constructor(options: BucketsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of all Buckets for a Rate Limit.
     *
     * @param {Twilio.ListBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.buckets.list({
     *         serviceSid: "ServiceSid",
     *         rateLimitSid: "RateLimitSid"
     *     })
     */
    public async list(
        request: Twilio.ListBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2ServiceRateLimitBucket, Twilio.ListBucketsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Twilio.ListBucketsRequest): Promise<core.WithRawResponse<Twilio.ListBucketsResponse>> => {
                const { serviceSid, rateLimitSid, pageSize, page, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        `v2/Services/${core.url.encodePathParam(serviceSid)}/RateLimits/${core.url.encodePathParam(rateLimitSid)}/Buckets`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListBucketsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2ServiceRateLimitBucket, Twilio.ListBucketsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.buckets ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Create a new Bucket for a Rate Limit
     *
     * @param {Twilio.CreateBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.buckets.create({
     *         serviceSid: "ServiceSid",
     *         rateLimitSid: "RateLimitSid",
     *         max: 5,
     *         interval: 60
     *     })
     */
    public create(
        request: Twilio.CreateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceRateLimitBucket> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceRateLimitBucket>> {
        const { serviceSid, rateLimitSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/RateLimits/${core.url.encodePathParam(rateLimitSid)}/Buckets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateBucketsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceRateLimitBucket.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets",
        );
    }

    /**
     * Fetch a specific Bucket.
     *
     * @param {Twilio.FetchBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.buckets.fetch({
     *         serviceSid: "ServiceSid",
     *         rateLimitSid: "RateLimitSid",
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceRateLimitBucket> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceRateLimitBucket>> {
        const { serviceSid, rateLimitSid, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/RateLimits/${core.url.encodePathParam(rateLimitSid)}/Buckets/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceRateLimitBucket.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets/{Sid}",
        );
    }

    /**
     * Update a specific Bucket.
     *
     * @param {Twilio.UpdateBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.buckets.update({
     *         serviceSid: "ServiceSid",
     *         rateLimitSid: "RateLimitSid",
     *         sid: "Sid",
     *         max: 5,
     *         interval: 60
     *     })
     */
    public update(
        request: Twilio.UpdateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceRateLimitBucket> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceRateLimitBucket>> {
        const { serviceSid, rateLimitSid, sid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/RateLimits/${core.url.encodePathParam(rateLimitSid)}/Buckets/${core.url.encodePathParam(sid)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateBucketsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceRateLimitBucket.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets/{Sid}",
        );
    }

    /**
     * Delete a specific Bucket.
     *
     * @param {Twilio.DeleteBucketsRequest} request
     * @param {BucketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.buckets.delete({
     *         serviceSid: "ServiceSid",
     *         rateLimitSid: "RateLimitSid",
     *         sid: "Sid"
     *     })
     */
    public delete(
        request: Twilio.DeleteBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Twilio.DeleteBucketsRequest,
        requestOptions?: BucketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { serviceSid, rateLimitSid, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/RateLimits/${core.url.encodePathParam(rateLimitSid)}/Buckets/${core.url.encodePathParam(sid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets/{Sid}",
        );
    }
}
