// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace AccessTokensClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccessTokensClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccessTokensClient.Options>;

    constructor(options: AccessTokensClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a new enrollment Access Token for the Entity
     *
     * @param {Twilio.CreateAccessTokensRequest} request
     * @param {AccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accessTokens.create({
     *         serviceSid: "ServiceSid",
     *         identity: "ff483d1ff591898a9942916050d2ca3f",
     *         factorType: "push",
     *         factorFriendlyName: "John Doe iPhone",
     *         ttl: 300
     *     })
     *
     * @example
     *     await client.accessTokens.create({
     *         serviceSid: "ServiceSid",
     *         identity: "ff483d1ff591898a9942916050d2ca3f",
     *         factorType: "push",
     *         factorFriendlyName: "John Doe iPhone"
     *     })
     */
    public create(
        request: Twilio.CreateAccessTokensRequest,
        requestOptions?: AccessTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceAccessToken> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateAccessTokensRequest,
        requestOptions?: AccessTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceAccessToken>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/AccessTokens`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateAccessTokensRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceAccessToken.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/AccessTokens",
        );
    }

    /**
     * Fetch an Access Token for the Entity
     *
     * @param {Twilio.FetchAccessTokensRequest} request
     * @param {AccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accessTokens.fetch({
     *         serviceSid: "ServiceSid",
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchAccessTokensRequest,
        requestOptions?: AccessTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceAccessToken> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchAccessTokensRequest,
        requestOptions?: AccessTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceAccessToken>> {
        const { serviceSid, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/AccessTokens/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceAccessToken.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/AccessTokens/{Sid}",
        );
    }
}
