// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace VerificationAttemptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VerificationAttemptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerificationAttemptsClient.Options>;

    constructor(options: VerificationAttemptsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all the verification attempts for a given Account.
     *
     * @param {Twilio.ListVerificationAttemptsRequest} request
     * @param {VerificationAttemptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verificationAttempts.list()
     */
    public async list(
        request: Twilio.ListVerificationAttemptsRequest = {},
        requestOptions?: VerificationAttemptsClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2VerificationAttempt, Twilio.ListVerificationAttemptsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Twilio.ListVerificationAttemptsRequest,
            ): Promise<core.WithRawResponse<Twilio.ListVerificationAttemptsResponse>> => {
                const {
                    dateCreatedAfter,
                    dateCreatedBefore,
                    channelDataTo,
                    country,
                    channel,
                    verifyServiceSid,
                    verificationSid,
                    status,
                    pageSize,
                    page,
                    pageToken,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    DateCreatedAfter: dateCreatedAfter != null ? dateCreatedAfter?.toISOString() : undefined,
                    DateCreatedBefore: dateCreatedBefore != null ? dateCreatedBefore?.toISOString() : undefined,
                    "ChannelData.To": channelDataTo,
                    Country: country,
                    Channel:
                        channel != null
                            ? serializers.VerificationAttemptEnumChannels.jsonOrThrow(channel, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    VerifyServiceSid: verifyServiceSid,
                    VerificationSid: verificationSid,
                    Status:
                        status != null
                            ? serializers.VerificationAttemptEnumConversionStatus.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        "v2/Attempts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListVerificationAttemptsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/Attempts");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2VerificationAttempt, Twilio.ListVerificationAttemptsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.attempts ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Fetch a specific verification attempt.
     *
     * @param {Twilio.FetchVerificationAttemptsRequest} request
     * @param {VerificationAttemptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verificationAttempts.fetch({
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchVerificationAttemptsRequest,
        requestOptions?: VerificationAttemptsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2VerificationAttempt> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchVerificationAttemptsRequest,
        requestOptions?: VerificationAttemptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2VerificationAttempt>> {
        const { sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Attempts/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2VerificationAttempt.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/Attempts/{Sid}");
    }

    /**
     * Get a summary of how many attempts were made and how many were converted.
     *
     * @param {Twilio.FetchSummaryVerificationAttemptsRequest} request
     * @param {VerificationAttemptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verificationAttempts.fetchSummary({
     *         verifyServiceSid: "VAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         dateCreatedAfter: new Date("2022-03-02T21:02:33.000Z"),
     *         dateCreatedBefore: new Date("2022-03-02T21:02:33.000Z"),
     *         country: "CO",
     *         destinationPrefix: "+57305"
     *     })
     */
    public fetchSummary(
        request: Twilio.FetchSummaryVerificationAttemptsRequest = {},
        requestOptions?: VerificationAttemptsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2VerificationAttemptsSummary> {
        return core.HttpResponsePromise.fromPromise(this.__fetchSummary(request, requestOptions));
    }

    private async __fetchSummary(
        request: Twilio.FetchSummaryVerificationAttemptsRequest = {},
        requestOptions?: VerificationAttemptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2VerificationAttemptsSummary>> {
        const { verifyServiceSid, dateCreatedAfter, dateCreatedBefore, country, channel, destinationPrefix } = request;
        const _queryParams: Record<string, unknown> = {
            VerifyServiceSid: verifyServiceSid,
            DateCreatedAfter: dateCreatedAfter != null ? dateCreatedAfter?.toISOString() : undefined,
            DateCreatedBefore: dateCreatedBefore != null ? dateCreatedBefore?.toISOString() : undefined,
            Country: country,
            Channel:
                channel != null
                    ? serializers.VerificationAttemptsSummaryEnumChannels.jsonOrThrow(channel, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            DestinationPrefix: destinationPrefix,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                "v2/Attempts/Summary",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2VerificationAttemptsSummary.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/Attempts/Summary");
    }
}
