// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Twilio from "../../../index.js";

export declare namespace VerificationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VerificationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerificationsClient.Options>;

    constructor(options: VerificationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a new Verification using a Service
     *
     * @param {Twilio.CreateVerificationsRequest} request
     * @param {VerificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Twilio.TooManyRequestsError}
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "sms",
     *         customFriendlyName: "custom_friendly_name",
     *         sendDigits: "ww1",
     *         locale: "en",
     *         customCode: "custom_code",
     *         amount: "\u20AC39.99",
     *         payee: "Acme Inc.",
     *         appHash: "AAAAAAAAAAA",
     *         templateSid: "HJaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         templateCustomSubstitutions: "{\"AppName\": \"MyApp\", \"Contact\":\"12345689\"}",
     *         riskCheck: "enable",
     *         tags: "{\"tenant_id\": \"12345\"}"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "whatsapp",
     *         customFriendlyName: "custom_friendly_name",
     *         locale: "en",
     *         customCode: "custom_code"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "mail@email.com",
     *         channel: "email",
     *         locale: "en",
     *         customCode: "custom_code",
     *         amount: "\u20AC39.99",
     *         payee: "Acme Inc.",
     *         channelConfiguration: "{\"from\": \"foo@bar.com\", \"from_name\": \"Bar Inc.\", \"substitutions\": { \"username\": \"ms. baz\" }, \"template_id\": \"Dxxxxxxxxxx\"}"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "sms",
     *         sendDigits: "ww1",
     *         locale: "en",
     *         customCode: "custom_code",
     *         rateLimits: "{\"my_rate_limit_key\": \"abc\"}"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "sna"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "auto",
     *         deviceIp: "0.000.00.000"
     *     })
     *
     * @example
     *     await client.verifications.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661",
     *         channel: "sms"
     *     })
     */
    public create(
        request: Twilio.CreateVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceVerification> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceVerification>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Verifications`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateVerificationsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceVerification.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Twilio.TooManyRequestsError(
                        serializers.TooManyRequestsErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Verifications",
        );
    }

    /**
     * Fetch a specific Verification
     *
     * @param {Twilio.FetchVerificationsRequest} request
     * @param {VerificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verifications.fetch({
     *         serviceSid: "ServiceSid",
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceVerification> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceVerification>> {
        const { serviceSid, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Verifications/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceVerification.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/Verifications/{Sid}",
        );
    }

    /**
     * Update a Verification status
     *
     * @param {Twilio.UpdateVerificationsRequest} request
     * @param {VerificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verifications.update({
     *         serviceSid: "ServiceSid",
     *         sid: "Sid",
     *         status: "canceled"
     *     })
     *
     * @example
     *     await client.verifications.update({
     *         serviceSid: "ServiceSid",
     *         sid: "Sid",
     *         status: "approved"
     *     })
     */
    public update(
        request: Twilio.UpdateVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceVerification> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateVerificationsRequest,
        requestOptions?: VerificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceVerification>> {
        const { serviceSid, sid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Verifications/${core.url.encodePathParam(sid)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateVerificationsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceVerification.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Verifications/{Sid}",
        );
    }
}
