// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace FactorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FactorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FactorsClient.Options>;

    constructor(options: FactorsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetch a specific Factor.
     *
     * @param {Twilio.FetchFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.fetch({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityFactor> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityFactor>> {
        const { serviceSid, identity, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Factors/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityFactor.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors/{Sid}",
        );
    }

    /**
     * Update a specific Factor. This endpoint can be used to Verify a Factor if passed an `AuthPayload` param.
     *
     * @param {Twilio.UpdateFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.update({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid",
     *         authPayload: "123456",
     *         friendlyName: "FriendlyName",
     *         configNotificationToken: "test_token",
     *         configSdkVersion: "1.0"
     *     })
     *
     * @example
     *     await client.factors.update({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid",
     *         authPayload: "123456",
     *         friendlyName: "My Friendly Name"
     *     })
     */
    public update(
        request: Twilio.UpdateFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityFactor> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityFactor>> {
        const { serviceSid, identity, sid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Factors/${core.url.encodePathParam(sid)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateFactorsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityFactor.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors/{Sid}",
        );
    }

    /**
     * Delete a specific Factor.
     *
     * @param {Twilio.DeleteFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.delete({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid"
     *     })
     */
    public delete(
        request: Twilio.DeleteFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Twilio.DeleteFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { serviceSid, identity, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Factors/${core.url.encodePathParam(sid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors/{Sid}",
        );
    }

    /**
     * Retrieve a list of all Factors for an Entity.
     *
     * @param {Twilio.ListFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.list({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity"
     *     })
     */
    public async list(
        request: Twilio.ListFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2ServiceEntityFactor, Twilio.ListFactorsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Twilio.ListFactorsRequest): Promise<core.WithRawResponse<Twilio.ListFactorsResponse>> => {
                const { serviceSid, identity, pageSize, page, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Factors`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListFactorsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2ServiceEntityFactor, Twilio.ListFactorsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.factors ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Create a new Factor for the Entity
     *
     * @param {Twilio.CreateFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.create({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         friendlyName: "FriendlyName",
     *         factorType: "push",
     *         bindingAlg: "ES256",
     *         bindingPublicKey: "dGVzdF9rZXk=",
     *         configAppId: "com.example.myapp",
     *         configNotificationPlatform: "fcm",
     *         configNotificationToken: "test_token",
     *         configSdkVersion: "1.0",
     *         metadata: "{\"os\": \"Android\"}"
     *     })
     *
     * @example
     *     await client.factors.create({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         friendlyName: "FriendlyName",
     *         factorType: "totp",
     *         bindingSecret: "GEZDGNBVGY3TQOJQGEZDGNBVGY3TQOJQ",
     *         configTimeStep: 30,
     *         configSkew: 1,
     *         configCodeLength: 6,
     *         configAlg: "sha1"
     *     })
     */
    public create(
        request: Twilio.CreateFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityNewFactor> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityNewFactor>> {
        const { serviceSid, identity, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Factors`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateFactorsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityNewFactor.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Factors",
        );
    }

    /**
     * Verify a Passkeys Factor
     *
     * @param {Twilio.VerifyPasskeyFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.verifyPasskey({
     *         serviceSid: "ServiceSid",
     *         id: "6ySmhJd6qGUMCthiqszyb4Od4U6TFn0v3DLz-1EZrNQ",
     *         rawId: "eb24a684977aa8650c0ad862aaccf26f839de14e93167d2fdc32f3fb5119acd4",
     *         authenticatorAttachment: "platform",
     *         type: "public-key",
     *         response: {
     *             attestationObject: "o2NmbXRkbm9uZWdhdHRTdG10oGhhdXRoRGF0YViko3mm9u6vuaVeN4wRgDTidR5oL6ufLTCrE9ISVYbOGUdFAAAAAAAAAAAAAAAAAAAAAAAAAAAAIOskpoSXeqhlDArYYqrM8m-DneFOkxZ9L9wy8_tRGazUpQECAyYgASFYIOP8op-6gZJ1H0wHNLe2k7cgBqaSUR4pdcBqtOHPaYUhIlggsXZWuWfZS-6YpbeU9dsB2UoroACSKXJOrdE_auaUIf4",
     *             clientDataJson: "eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiV1VZd05EaGtNV0UzWldNellUSmhOamszTURBMU9XTXlOelkyWW1Kak4yVXdaZyIsIm9yaWdpbiI6Imh0dHBzOi8vZXhhbXBsZS5jb20iLCJjcm9zc09yaWdpbiI6ZmFsc2V9",
     *             transports: ["internal"]
     *         }
     *     })
     */
    public verifyPasskey(
        request: Twilio.VerifyPasskeyFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyPasskeyFactorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifyPasskey(request, requestOptions));
    }

    private async __verifyPasskey(
        request: Twilio.VerifyPasskeyFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyPasskeyFactorsResponse>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Passkeys/VerifyFactor`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.VerifyPasskeyFactorsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyPasskeyFactorsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Passkeys/VerifyFactor",
        );
    }

    /**
     * Create a new Passkeys Factor for the Entity
     *
     * @param {Twilio.CreatePasskeyFactorsRequest} request
     * @param {FactorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.factors.createPasskey({
     *         serviceSid: "ServiceSid",
     *         friendlyName: "FriendlyName",
     *         identity: "ff483d1ff591898a9942916050d2ca3f",
     *         config: {
     *             relyingParty: {
     *                 id: "example.com",
     *                 name: "Example",
     *                 origins: ["https://example.com"]
     *             },
     *             authenticatorAttachment: "platform",
     *             discoverableCredentials: "preferred",
     *             userVerification: "preferred"
     *         }
     *     })
     */
    public createPasskey(
        request: Twilio.CreatePasskeyFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.CreatePasskeyFactorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPasskey(request, requestOptions));
    }

    private async __createPasskey(
        request: Twilio.CreatePasskeyFactorsRequest,
        requestOptions?: FactorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.CreatePasskeyFactorsResponse>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Passkeys/Factors`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.CreatePasskeyFactorsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreatePasskeyFactorsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Passkeys/Factors",
        );
    }
}
