// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace ServicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ServicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ServicesClient.Options>;

    constructor(options: ServicesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of all Verification Services for an account.
     *
     * @param {Twilio.ListServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.list()
     */
    public async list(
        request: Twilio.ListServicesRequest = {},
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2Service, Twilio.ListServicesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Twilio.ListServicesRequest): Promise<core.WithRawResponse<Twilio.ListServicesResponse>> => {
                const { pageSize, page, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        "v2/Services",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListServicesResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/Services");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2Service, Twilio.ListServicesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.services ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Create a new Verification Service.
     *
     * @param {Twilio.CreateServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.create({
     *         friendlyName: "name",
     *         codeLength: 4,
     *         lookupEnabled: false,
     *         skipSmsToLandlines: false,
     *         dtmfInputRequired: false,
     *         ttsName: "name",
     *         psd2Enabled: false,
     *         doNotShareWarningEnabled: false,
     *         customCodeEnabled: true,
     *         pushApnCredentialSid: "CRaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         totpIssuer: "test-issuer",
     *         totpTimeStep: 30,
     *         totpCodeLength: 3,
     *         totpSkew: 2,
     *         defaultTemplateSid: "HJaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         verifyEventSubscriptionEnabled: false
     *     })
     */
    public create(
        request: Twilio.CreateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2Service> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2Service>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                "v2/Services",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateServicesRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2Service.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/Services");
    }

    /**
     * Fetch specific Verification Service Instance.
     *
     * @param {Twilio.FetchServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.fetch({
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2Service> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2Service>> {
        const { sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2Service.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/Services/{Sid}");
    }

    /**
     * Update a specific Verification Service.
     *
     * @param {Twilio.UpdateServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.update({
     *         sid: "Sid",
     *         friendlyName: "name",
     *         codeLength: 4,
     *         lookupEnabled: false,
     *         skipSmsToLandlines: false,
     *         dtmfInputRequired: false,
     *         ttsName: "name",
     *         psd2Enabled: false,
     *         doNotShareWarningEnabled: false,
     *         customCodeEnabled: true,
     *         pushIncludeDate: false,
     *         pushFcmCredentialSid: "CRbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
     *         totpIssuer: "test-issuer",
     *         totpTimeStep: 30,
     *         totpCodeLength: 3,
     *         totpSkew: 2,
     *         defaultTemplateSid: "HJaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         verifyEventSubscriptionEnabled: false
     *     })
     */
    public update(
        request: Twilio.UpdateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2Service> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2Service>> {
        const { sid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(sid)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateServicesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2Service.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/Services/{Sid}");
    }

    /**
     * Delete a specific Verification Service Instance.
     *
     * @param {Twilio.DeleteServicesRequest} request
     * @param {ServicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.delete({
     *         sid: "Sid"
     *     })
     */
    public delete(
        request: Twilio.DeleteServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Twilio.DeleteServicesRequest,
        requestOptions?: ServicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(sid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/Services/{Sid}");
    }
}
