// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace MessagingConfigurationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagingConfigurationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagingConfigurationsClient.Options>;

    constructor(options: MessagingConfigurationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of all Messaging Configurations for a Service.
     *
     * @param {Twilio.ListMessagingConfigurationsRequest} request
     * @param {MessagingConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messagingConfigurations.list({
     *         serviceSid: "ServiceSid"
     *     })
     */
    public async list(
        request: Twilio.ListMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2ServiceMessagingConfiguration, Twilio.ListMessagingConfigurationsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Twilio.ListMessagingConfigurationsRequest,
            ): Promise<core.WithRawResponse<Twilio.ListMessagingConfigurationsResponse>> => {
                const { serviceSid, pageSize, page, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        `v2/Services/${core.url.encodePathParam(serviceSid)}/MessagingConfigurations`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListMessagingConfigurationsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/Services/{ServiceSid}/MessagingConfigurations",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2ServiceMessagingConfiguration, Twilio.ListMessagingConfigurationsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.messagingConfigurations ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Create a new MessagingConfiguration for a service.
     *
     * @param {Twilio.CreateMessagingConfigurationsRequest} request
     * @param {MessagingConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messagingConfigurations.create({
     *         serviceSid: "ServiceSid",
     *         country: "CA",
     *         messagingServiceSid: "MGaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
     *     })
     */
    public create(
        request: Twilio.CreateMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceMessagingConfiguration> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceMessagingConfiguration>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/MessagingConfigurations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateMessagingConfigurationsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceMessagingConfiguration.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/MessagingConfigurations",
        );
    }

    /**
     * Fetch a specific MessagingConfiguration.
     *
     * @param {Twilio.FetchMessagingConfigurationsRequest} request
     * @param {MessagingConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messagingConfigurations.fetch({
     *         serviceSid: "ServiceSid",
     *         country: "Country"
     *     })
     */
    public fetch(
        request: Twilio.FetchMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceMessagingConfiguration> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceMessagingConfiguration>> {
        const { serviceSid, country } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/MessagingConfigurations/${core.url.encodePathParam(country)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceMessagingConfiguration.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/MessagingConfigurations/{Country}",
        );
    }

    /**
     * Update a specific MessagingConfiguration
     *
     * @param {Twilio.UpdateMessagingConfigurationsRequest} request
     * @param {MessagingConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messagingConfigurations.update({
     *         serviceSid: "ServiceSid",
     *         country: "Country",
     *         messagingServiceSid: "MGaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
     *     })
     */
    public update(
        request: Twilio.UpdateMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceMessagingConfiguration> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceMessagingConfiguration>> {
        const { serviceSid, country, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/MessagingConfigurations/${core.url.encodePathParam(country)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateMessagingConfigurationsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceMessagingConfiguration.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/MessagingConfigurations/{Country}",
        );
    }

    /**
     * Delete a specific MessagingConfiguration.
     *
     * @param {Twilio.DeleteMessagingConfigurationsRequest} request
     * @param {MessagingConfigurationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messagingConfigurations.delete({
     *         serviceSid: "ServiceSid",
     *         country: "Country"
     *     })
     */
    public delete(
        request: Twilio.DeleteMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Twilio.DeleteMessagingConfigurationsRequest,
        requestOptions?: MessagingConfigurationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { serviceSid, country } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/MessagingConfigurations/${core.url.encodePathParam(country)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/Services/{ServiceSid}/MessagingConfigurations/{Country}",
        );
    }
}
