// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace ChallengesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChallengesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChallengesClient.Options>;

    constructor(options: ChallengesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of all Challenges for a Factor.
     *
     * @param {Twilio.ListChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.list({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity"
     *     })
     */
    public async list(
        request: Twilio.ListChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.Page<Twilio.VerifyV2ServiceEntityChallenge, Twilio.ListChallengesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Twilio.ListChallengesRequest,
            ): Promise<core.WithRawResponse<Twilio.ListChallengesResponse>> => {
                const { serviceSid, identity, factorSid, status, order, pageSize, page, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    FactorSid: factorSid,
                    Status:
                        status != null
                            ? serializers.ChallengeEnumChallengeStatuses.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    Order:
                        order != null
                            ? serializers.ChallengeEnumListOrders.jsonOrThrow(order, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    PageSize: pageSize,
                    Page: page,
                    PageToken: pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.TwilioEnvironment.Default,
                        `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Challenges`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListChallengesResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TwilioError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Twilio.VerifyV2ServiceEntityChallenge, Twilio.ListChallengesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.nextPageUrl != null &&
                !(typeof response?.meta?.nextPageUrl === "string" && response?.meta?.nextPageUrl === ""),
            getItems: (response) => response?.challenges ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.meta?.nextPageUrl));
            },
        });
    }

    /**
     * Create a new Challenge for the Factor
     *
     * @param {Twilio.CreateChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.create({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         factorSid: "YF03aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         expirationDate: new Date("2015-07-30T20:00:00.000Z"),
     *         detailsMessage: "Hi! Mr. John Doe, would you like to sign up?",
     *         detailsFields: ["{\"label\": \"Action\", \"value\": \"Sign up in portal\"}"],
     *         hiddenDetails: "{\"ip\": \"172.168.1.234\"}"
     *     })
     *
     * @example
     *     await client.challenges.create({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         factorSid: "YF02aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         expirationDate: new Date("2015-07-30T20:00:00.000Z"),
     *         detailsMessage: "Hi! Mr. John Doe, would you like to sign up?",
     *         detailsFields: ["{\"label\": \"Action\", \"value\": \"Sign up in portal\"}"],
     *         hiddenDetails: "{\"ip\": \"172.168.1.234\"}"
     *     })
     *
     * @example
     *     await client.challenges.create({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         factorSid: "YF02aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         expirationDate: new Date("2015-07-30T20:00:00.000Z"),
     *         detailsMessage: "Hi! Mr. John Doe, would you like to sign up?",
     *         detailsFields: ["{\"label\": \"Action\", \"value\": \"Sign up in portal\"}"],
     *         hiddenDetails: "{\"ip\": \"172.168.1.234\"}",
     *         authPayload: "12345678"
     *     })
     */
    public create(
        request: Twilio.CreateChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityChallenge>> {
        const { serviceSid, identity, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Challenges`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateChallengesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityChallenge.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges",
        );
    }

    /**
     * Fetch a specific Challenge.
     *
     * @param {Twilio.FetchChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.fetch({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid"
     *     })
     */
    public fetch(
        request: Twilio.FetchChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityChallenge>> {
        const { serviceSid, identity, sid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Challenges/${core.url.encodePathParam(sid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityChallenge.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}",
        );
    }

    /**
     * Verify a specific Challenge.
     *
     * @param {Twilio.UpdateChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.update({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid",
     *         authPayload: "123456",
     *         metadata: "{\"os\": \"Android\"}"
     *     })
     *
     * @example
     *     await client.challenges.update({
     *         serviceSid: "ServiceSid",
     *         identity: "Identity",
     *         sid: "Sid",
     *         authPayload: "123456"
     *     })
     */
    public update(
        request: Twilio.UpdateChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceEntityChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Twilio.UpdateChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceEntityChallenge>> {
        const { serviceSid, identity, sid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Entities/${core.url.encodePathParam(identity)}/Challenges/${core.url.encodePathParam(sid)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.UpdateChallengesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceEntityChallenge.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}",
        );
    }

    /**
     * Create a Passkeys Challenge
     *
     * @param {Twilio.CreatePasskeyChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.createPasskey({
     *         serviceSid: "ServiceSid"
     *     })
     *
     * @example
     *     await client.challenges.createPasskey({
     *         serviceSid: "ServiceSid",
     *         identity: "anyUUID"
     *     })
     *
     * @example
     *     await client.challenges.createPasskey({
     *         serviceSid: "ServiceSid",
     *         identity: "anyUUID",
     *         factorSid: "YFaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
     *     })
     */
    public createPasskey(
        request: Twilio.CreatePasskeyChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.CreatePasskeyChallengesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPasskey(request, requestOptions));
    }

    private async __createPasskey(
        request: Twilio.CreatePasskeyChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.CreatePasskeyChallengesResponse>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Passkeys/Challenges`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.CreatePasskeyChallengesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreatePasskeyChallengesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Passkeys/Challenges",
        );
    }

    /**
     * Approve a Passkeys challenge
     *
     * @param {Twilio.ApprovePasskeyChallengesRequest} request
     * @param {ChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.challenges.approvePasskey({
     *         serviceSid: "ServiceSid",
     *         id: "6ySmhJd6qGUMCthiqszyb4Od4U6TFn0v3DLz-1EZrNQ",
     *         rawId: "eb24a684977aa8650c0ad862aaccf26f839de14e93167d2fdc32f3fb5119acd4",
     *         authenticatorAttachment: "platform",
     *         type: "public-key",
     *         response: {
     *             authenticatorData: "o3mm9u6vuaVeN4wRgDTid",
     *             clientDataJson: "eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiV1VZd05EaGtNV0UzWldNellUSmhOamszTURBMU9XTXlOelkyWW1Kak4yVXdaZyIsIm9yaWdpbiI6Imh0dHBzOi8vZXhhbXBsZS5jb20iLCJjcm9zc09yaWdpbiI6ZmFsc2V9",
     *             signature: "MEYCIQDDs662ykELzpmxkQaOR6HY5GwO7n",
     *             userHandle: "WUU0ZmQzYWFmNGU0NT"
     *         }
     *     })
     */
    public approvePasskey(
        request: Twilio.ApprovePasskeyChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.ApprovePasskeyChallengesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__approvePasskey(request, requestOptions));
    }

    private async __approvePasskey(
        request: Twilio.ApprovePasskeyChallengesRequest,
        requestOptions?: ChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.ApprovePasskeyChallengesResponse>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/Passkeys/ApproveChallenge`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ApprovePasskeyChallengesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ApprovePasskeyChallengesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/Passkeys/ApproveChallenge",
        );
    }
}
