// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace SafelistClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SafelistClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SafelistClient.Options>;

    constructor(options: SafelistClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Add a new phone number to SafeList.
     *
     * @param {Twilio.CreateSafelistRequest} request
     * @param {SafelistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.safelist.create({
     *         phoneNumber: "+18001234567"
     *     })
     */
    public create(
        request: Twilio.CreateSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2Safelist> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2Safelist>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                "v2/SafeList/Numbers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateSafelistRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2Safelist.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/SafeList/Numbers");
    }

    /**
     * Check if a phone number exists in SafeList.
     *
     * @param {Twilio.FetchSafelistRequest} request
     * @param {SafelistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.safelist.fetch({
     *         phoneNumber: "PhoneNumber"
     *     })
     */
    public fetch(
        request: Twilio.FetchSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2Safelist> {
        return core.HttpResponsePromise.fromPromise(this.__fetch(request, requestOptions));
    }

    private async __fetch(
        request: Twilio.FetchSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2Safelist>> {
        const { phoneNumber } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/SafeList/Numbers/${core.url.encodePathParam(phoneNumber)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2Safelist.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/SafeList/Numbers/{PhoneNumber}",
        );
    }

    /**
     * Remove a phone number from SafeList.
     *
     * @param {Twilio.DeleteSafelistRequest} request
     * @param {SafelistClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.safelist.delete({
     *         phoneNumber: "PhoneNumber"
     *     })
     */
    public delete(
        request: Twilio.DeleteSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Twilio.DeleteSafelistRequest,
        requestOptions?: SafelistClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { phoneNumber } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/SafeList/Numbers/${core.url.encodePathParam(phoneNumber)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/SafeList/Numbers/{PhoneNumber}",
        );
    }
}
