// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Twilio from "../../../index.js";

export declare namespace VerificationChecksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VerificationChecksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerificationChecksClient.Options>;

    constructor(options: VerificationChecksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * challenge a specific Verification Check.
     *
     * @param {Twilio.CreateVerificationChecksRequest} request
     * @param {VerificationChecksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verificationChecks.create({
     *         serviceSid: "ServiceSid",
     *         code: "1234",
     *         to: "+15017122661",
     *         verificationSid: "VEaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
     *         amount: "\u20AC39.99",
     *         payee: "Acme Inc."
     *     })
     *
     * @example
     *     await client.verificationChecks.create({
     *         serviceSid: "ServiceSid",
     *         code: "123456",
     *         to: "recipient@foo.com",
     *         verificationSid: "VEaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
     *     })
     *
     * @example
     *     await client.verificationChecks.create({
     *         serviceSid: "ServiceSid",
     *         to: "+15017122661"
     *     })
     */
    public create(
        request: Twilio.CreateVerificationChecksRequest,
        requestOptions?: VerificationChecksClient.RequestOptions,
    ): core.HttpResponsePromise<Twilio.VerifyV2ServiceVerificationCheck> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Twilio.CreateVerificationChecksRequest,
        requestOptions?: VerificationChecksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Twilio.VerifyV2ServiceVerificationCheck>> {
        const { serviceSid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwilioEnvironment.Default,
                `v2/Services/${core.url.encodePathParam(serviceSid)}/VerificationCheck`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: serializers.CreateVerificationChecksRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.VerifyV2ServiceVerificationCheck.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TwilioError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/Services/{ServiceSid}/VerificationCheck",
        );
    }
}
